.delButton-income {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  transform: rotate(135deg);
}
.delButton-expense {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  transform: rotate(135deg);
}
